<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Mercurytours">
    <classes>
      <class name="com.mercurytours.testcases.VerifyTicketPurchase"/>
      <class name="com.mercurytours.testcases.VerifyHomePageTitle"/>
      <class name="com.mercurytours.testcases.LoginTest"/>
    </classes>
  </test> <!-- Mercurytours -->
</suite> <!-- Suite -->
